.badge {
	display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
}
.blue-background {
    background-color: #70b8db;
}
.red-background {
    background-color: #bd272b;
}
#diagram-container .badge {
	font-size: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    color: #000000;
}

.positive-reference-time {
	background-color: rgba(0,255,0,0.5);
}

.negative-reference-time {
	background-color: rgba(255,0,0,0.5);
}